@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

body {
    height: 100vh;
}

.sidebar-container {
    background-color: #000000;
}

.sidebar-item {
    background-color: #FFFFFF29;
}

